/* styles.css */

.menu {
    display: flex;
    justify-content: space-around;
}

.category {
    position: relative;
}

.category-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.subcategory {
    display: none;
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0;
}

.category:hover .subcategory {
    display: block;
}

.subcategory li {
    padding: 8px;
}

.category-btn:hover + .subcategory {
    display: block;
}
